.container{
    display: flex;

}
.product-quantity{
    display: flex;
    padding:0 5px;
    margin-bottom:12px;
    .btn-control{
        font-size:22px;
        cursor: pointer;
        padding:11px 16px;
        line-height:33px;
        background: transparent;
        &:hover{
            color: #000;
            background: #f8f8f8;
        }
    }
    .input-qty{
        height:100%;
        max-width:3rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding:4px;
        text-align: center;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000;
        transition: all 0.2s cubic-bezier(.7,0,.3,1);
        &:focus{
            color: #000;
            border-color: #8a8a8a;
            box-shadow: 0 2px 0 0 #2e2323;
        }
        &:hover{
            border-color: #014ba0;
            color:#014ba0;
        }
    }
}
.add{
    padding:0 5px;
    flex:1;
    .btn-add{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        line-height:24px;
        padding:16px 24px;
        background: transparent;
        cursor: pointer;
        background: #000;
        color: #fff;
        font-size:16px;
        border: solid 1px #000;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
        .icon-bag{
            margin-right:8px;
        }
        &:hover{
            background: #2745ac;
            color: #fff;
            border-color: #2745ac;
        }
    }
}
