.wrapper {
    display: block;
    padding: 0px 15px 16px 15px;
}
.label {
    color: var(--black);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 11px;
}
.nav {
    display: flex;
    flex-direction: column;
}
//
.menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: max-content;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    color: #6a6a6a;
    line-height: 24px;
    margin-bottom: 7px;
    font-style: none;

    &:hover {
        color: var(--primary);
        font-style: italic;

        .icon {
            transform: translateX(3px) rotate(2deg);
        }
    }
}
.icon {
    font-size: 10px;
    transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
    font-style: normal;
    margin-right: 6px;
}
